span{
    display: inline-block;
    background: #eee;
}

.padding {
    /* padding-top: 35px;
    padding-right: 75px;
    padding-bottom: 55px;
    padding-left: 15px; */

    padding: 35px 75px 55px 15px;
} 

