body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.produto {
    background: #f7f7f7;
    border: 1px;
    margin-bottom: 20px;
    padding: 20px;
}

.comprar {
    background-color: #a8f;
    color: #ffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
}

.grid {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
}

*{
    justify-items: center;
}