* {
    background: #0F0F1E;
}

.titulo {
    text-align: center;
    color: #FABE00;
}

.subtitulo {
    color: #FEFEFE;
}

.botao {
    text-align: none;
    background: #FABE00;
    border-radius: 5px;
    color: #0F0F1E;
    width: 100px;
    height: 50px;
}

.produto {
    background-color: #1E1E2D;
    border-radius: 8px;
}