@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

body {
    background: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
}

.box {
    display: grid;
    background: #F0F5F3;
    justify-items: center;
}

.barraNavegacao {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.buttonNavbar {
    margin-left: 50px;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    background: #ffffff;
    color: #B5B5B5;
    margin: 10px;
}

.heroSection {
    
    max-width: 975px;
    margin-top: 40px;
    text-align: end;
    columns: 2;
    background: #FFFFFF;
}

.heroSection h1{ 
    margin-left: 30px;
    color: #000000;
}

.buttonSection {
    margin-bottom: 20px;
    display: grid;
    background: #16395F;
    border-radius: 6px;
    border: 3px solid #B6825D;
    text-align: center;
    padding: 10px;
    color: #B6825D;
}

.heroSection h3 {
    margin-left: 30px;
    color: #212121;
}

.heroSection img {
    height: auto;
    width: 100%;
    max-width: 350px;
}

.barraNavegacao {
}

.painel {
    display: grid;
    background: #FFFFFF;    
}

.painel h3 {
    color: #212121;
}

.painel {
    color: #000000;
}