@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

*{
    background: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
}
.box {
    display: grid;
    background: #F0F5F3;
    justify-items: center;
}

.barraNavegacao {
    
}

.buttonNavbar {
    padding: 10px;
    border-radius: 8px;
    ba
}

.barraNavegacao {
}