.box {
    display: grid;
    background: #F0F5F3;
    justify-items: center;
}

.barraNavegacao {
    
}

.buttonNavbar {
    padding: 10px;
    max-width: 70px;
    background: #FEFEFE;
    border-radius: 8px;
}