body {
    background: #283C50;

}

.container {
    display: flex;
    display: grid;
    justify-content: center;
    justify-items: center;
}

.title  {
    color: #ffffff;
    justify-content: center;
    justify-items: center;
    font-weight: bold;
}

.cabecalho {
    background: #32465A;
    border-left: 2px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
}

.linha {
    height: 4px;
    width: 1050px;
    background-color: #ffffff;
}

