.container {
    background: #283C50;
    justify-content: center;
    justify-items: center;
}

.title  {
    justify-content: center;
    justify-items: center;
}

.cabecalho {
    background: #32465A;
    
    
}

