body {
 background: #283C50;

}

.container {
    display: flex;
    display: grid;
    justify-content: center;
    justify-items: center;
}

.title  {
    color: #ffffff;
    justify-content: center;
    justify-items: center;
}

.cabecalho {
    background: #32465A;
    border-left: 2px solid #ffffff;
}

.linha {
    width: 100px;
    color: #ffffff;
}

