*{
    background: #0A0A0A;
}

.topbar {
    border: 1px solid #08979F;
    padding: 30px;
    font-weight: bold;
    border-radius: 3px;
}

.topbar h2 {
    color: #02EAFC;
    font-weight: bold;
}

.topbar h3 {
    color: #2BEC14;
    font-weight: bold;
}

.buttomTopbar {
    background: #FABE00;
    color: #000;
    border: none;
    padding: 10px;
    font-weight: bold;
}

.gridTopbar {
    display: grid;
    grid
}


