body {
    background: #191923;
}

.container {
    display: grid;
    display: flex;
    width: auto;
    background: #191923;
    border: 6px solid #464B69;
    padding: 20px;
    height: 800px;
}

.painelLateral {
    background: #3C5A7D;
    width: 300px;
    height: 709px;
    padding: 20px;
    border-radius: 3px;
}

.painelLateral h2 {
    color: #fff;
}

.linha {
    display: flex;
    width: 275px;
    height: 3px;
    background: #444C6B;
    justify-self: center;
    align-self: center;
    margin-bottom: 75px;
}

.icone {
    display: flex;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttonLigarPausar {
    border: 1px solid #000;
    background: #96BED7;
    padding: 20px;
    border-radius: 8px;
}

.paradaEmergencia {
    background: #EB694B;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #D8072A;
}

.gridDeMonitoramento {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-left: 35px;
}

.card {
    margin-top: 0px;
    background: #283241;
    width: 425px;
    height: 325px;
    border: 2px solid #3A5779;
    justify-items: center;
    align-content: center;
}

.tituloCard {
    color: #7C9DB4;
}

.valorCard {
    color: #37AF00;
}

.valorCardAnomalia {
    color: #FF4B4B;
}

.valorCardRede {
    color: #6ED2FF;
}

.sistemaDeAlertas {
    display: flex;
    border-top: 2px solid #464B69;
    justify-content: space-between;
    background: #282D41;
    width: 1500px;
    height: 100px;
    color: #6C8398;
    justify-content: ;
}