* {
    margin: 0;
}

main {
    background: #F0F5F5;
}

.topBar{
    background: #283C50;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
}

.buttonColorido {
    background: #D77837;
    padding: 1rem;
    color: #fff;
}

.titleNav {
    color: #fff;
}

.subTitNav {
    color: #868078;
}

.button {
    border: none;
    background: #283C50;
    color: #fff;
}

.imagemFundo {
    width: 100%;
    height: 25rem;
    background-image: url("adwadawdadawda.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.imagem {

}

.quadroImagemFundo {
    background: #fff;
    position: absolute;
}

.titleQuadroImagemFundo {
    color: #fff;
}

.textoQuadroImagemFundo {
    color: #B4B2B1;
}

